.thumbnail img {
    width: 100%;
}

.thumbnail caption-full {
    padding: 10px;
}

.thumbnail {
    padding: 9px;
}

.list-group-item-active {
    background: teal;
}

#delete-form{
    display: inline;
}